circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
  color : tomato;
}

.radius {
    background: #f0f0f0; /* Цвет фона */
 	border:1px solid #000;
	padding: 10px 50px;
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 40px 10px;
   }
